$white: #ffffff;
$dark-blue: #333b54;
$light-gray: #7c8fac;
$primary: #ecf2ff;
$gray-100: #5a6a85;
$blue-gray: #2a3547;
$light-primary: #f2f6fa;
$success: #13deb9;
$error: #fa896b;
$warning: #ffae1f;
